.container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.button {float: right;
		display: block;
		background-color: #FFD700;
		margin-top: 20px;
		padding-left: 65px;
		padding-right: 65px;
		padding-top: 20px;
		padding-bottom: 20px;
		color: black;
		font-family: georgia;
		font-size: 20px;
		text-decoration: none;
		border-radius: 30px;
		transition: all 300ms;
}
.button:hover {box-shadow: 0 3px 5px 5px #ffD20D57}
.phone {font-size: 30px;
		padding-left: 95px; 
		color: black;
		font-family: serif;
		text-decoration:none;
		padding-bottom: 20px;
		vertical-align: middle;
		display: inline-block;
		margin-top: 30px;
}
.phone img {padding-right: 15px;
	vertical-align: middle;

}
.logo {vertical-align: middle;
	transition: all 500ms;
}
.logo:hover {transform: rotate(4deg);
}
.header {
	margin-top: 20px;
	margin-bottom: 20px;

}
/*BANNER*/
.banner {background-image: url(../images/banner-bg.png);

		padding-top: 100px;
		padding-bottom: 100px;
}
.banner img {width: 50%;
}
.banner p {float: right;
			font-size: 50px;
			font-family: serif;
			width: 50%;
			padding-top: 65px;
			padding-left: 20px;
			box-sizing: border-box;
			margin-top: 0px;
			padding-right: 120px;
}






